@model IEnumerable<ReedHampton.Models.ContactInformation>

@{
    ViewBag.Title = "Index";
}
<style>
    body {
        background-color: #f5eee1;
    }

    #darken {
        background-image: linear-gradient( rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35) ), url(../../StaticImages/RainyDay.jpeg);
    }

    hr {
        border-top: 0.5px solid #660000;
    }

    .row {
        text-align: center;
        min-width: 412px;
        width: 100%; /* it changes by screen size actually */
        height: auto;
    }

    .row:after {
        content: '';
        display: inline-block;
        width: 100%;
    }

    .col {
        display: inline-block;
    }

    .grow img {
        transition: 1s ease;
    }

        .grow img:hover {
            -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2);
            transition: 1s ease;
        }
    
</style>

<body>

    @{
        if (User.Identity.IsAuthenticated)
        {
            <input type="button" style="float:left; margin-top:35px; margin-right:15px; margin-top:60px;" class="btn btn-success" value="Add Contact Information" onclick="location.href='@Url.Action("Create", "ContactInformation")'" />
        }
    }

    <div class="jumbotron" id="darken" style="background-size:cover;">
        <h1 style="text-align:center; font-family:Garamond; font-size:60px; padding-top:25px; padding-bottom:25px; color:white;"> Let's be, Amici... Tomodachi... Copains... Friends</h1>
    </div>

    <hr />

    @{
        string facebookURL = "";
        string linkedInURL = "";
        string gitHubURL = "";

        string facebookHTML = "";
        string linkedInHTML = "";
        string gitHubHTML = "";
        string emailHTML = "";

        string endLinkTag = "</a>";

        foreach (var item in Model)
        {
            facebookURL = item.FacebookLink;
            linkedInURL = item.LinkedInLink;
            gitHubURL = item.GitHubLink;
            emailHTML = "<a href=\"mailto:" + item.PrimaryEmail + "\" target=\"_top\">";

            facebookHTML = "<a href=\"" + facebookURL + "\" target=\"_blank\">";
            linkedInHTML = "<a href=\"" + linkedInURL + "\" target=\"_blank\">";
            gitHubHTML = "<a href=\"" + gitHubURL + "\" target=\"_blank\">";

            <div class="row" style="text-align:center; padding-top:50px">

                <!--FACEBOOK LINK AND IMAGE---------------------------------------------------------------------------->

                <div class="col grow" style="padding-left:100px;">
                    @(new HtmlString(facebookHTML))
                    <img src="~/StaticImages/Black_FaceBook_Logo.jpg" alt="Facebook" style="height:66px; width:66px;" />
                    @(new HtmlString(endLinkTag))
                </div>

                <!--LINKEDIN LINK AND IMAGE---------------------------------------------------------------------------->

                <div class="col grow" style="padding-left:100px;">
                    @(new HtmlString(linkedInHTML))
                    <img src="~/StaticImages/In-Black-66px-TM.png" alt="LinkedIn" />
                    @(new HtmlString(endLinkTag))
                </div>

                <!--GITHUB LINK AND IMAGE---------------------------------------------------------------------------->

                <div class="col grow" style="padding-left:100px;">
                    @(new HtmlString(gitHubHTML))
                    <img src="~/StaticImages/GitHub-Mark-64px.png" alt="GitHub" />
                    @(new HtmlString(endLinkTag))
                </div>

                <!--EMAIL LINK AND IMAGE---------------------------------------------------------------------------->

                <div class="col grow" style="padding-left:100px;">
                    @(new HtmlString(emailHTML))
                    <img src="~/StaticImages/email_64x64.png" alt="Email" />
                    @(new HtmlString(endLinkTag))
                </div>

                @if (User.Identity.IsAuthenticated)
                {
                    <div style="padding-left:50px; padding-top:25px;">
                        <input type="button" class="btn btn-success" style="" value="Edit" onclick="location.href='@Url.Action("Edit", "ContactInformation", new { id = item.id})'" />
                        <input type="button" class="btn btn-danger" style="" value="Delete" onclick="location.href='@Url.Action("Delete", "ContactInformation", new { id = item.id})'" />
                    </div>
                }

            </div>
        }
    }

</body>