@model IEnumerable<ReedHampton.Models.AboutMe>

@{
    ViewBag.Title = "About Me";
}

<style>
    body {
        background-color: #f5eee1;
    }

    hr {
        border-top: 0.5px solid #660000;
    }

    #darken {
        background-image: linear-gradient( rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35) ), url(../../ImageUploads/Germany-Cover-Photo.jpg);
    }

    #f1_container {
        overflow: hidden;
        float: left;
        text-align: center;
        margin: 0.4em;
        padding-left: 0px;
        width: 370px;
        height: 370px;
        z-index: 1;
        perspective: 0px;
    }

    #f1_card {
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: all 0.8s linear;
    }

    #f1_container:hover #f1_card {
        transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        box-shadow: -5px 5px 5px #aaa;
    }

    .face {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        background-color: #660000;
        display: block;
    }

        .face.back {
            display: block;
            transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -webkit-transform: rotateY(180deg);
            -o-transform: rotateY(180deg);
            box-sizing: border-box;
            padding: 10px;
            color: white;
            text-align: center;
            background-color: #660000;
        }

    .row > .column {
        padding: 0 8px;
        padding-top: 0px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>

<body>

    <div class="jumbotron" id="darken" style="margin-top:60px;">
        <h1 style="text-align:center; color:white;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Welcome!</h1>
        <p class="lead" style="text-align:center; color:white;"><strong>Developer, Amateur Novelist, Greenhorn Photographer...</strong></p>
    </div> 

    @{
        if (User.Identity.IsAuthenticated)
        {
            <input type="button" class="btn btn-success" value="Add Flip Board" onclick="location.href='@Url.Action("Create", "AboutMe")'" />
        }
    }

    <hr />



    @{
        string FlipBoardImage_Path = "";

        int[] FlipBoard_ids = new int[100];
        string[] FlipBoard_Titles = new string[100];
        string[] FlipBoard_SubTitles = new string[100];
        string[] FlipBoard_Descriptions = new string[100];
        string[] FlipBoardThumbnailUrls = new string[100];
        int count = 0;

        foreach (var i in Model)
        {
            FlipBoard_Titles[count] = i.FlipBoardTitle;
            FlipBoard_SubTitles[count] = i.FlipBoardSubTitle;
            FlipBoard_ids[count] = i.id;
            FlipBoard_Descriptions[count] = i.Description;
            FlipBoardImage_Path = i.FlipboardThumnbailUrl;


            if (FlipBoardImage_Path != null)
            {
                FlipBoardImage_Path = FlipBoardImage_Path.Remove(0, 2);
                FlipBoardImage_Path = @Request.ApplicationPath + FlipBoardImage_Path;

                FlipBoardThumbnailUrls[count] = "<img src =\"" + FlipBoardImage_Path + "\" style = \"width: 370px; height: 281px;\" > ";
            }

            ++count;
        }
    }



    <div class="row" style="padding-top:25px; padding-bottom:50px;">

        @for (int i = 0; i < count; ++i)
        {
            <div class="column">

                <div id="f1_container">

                    <div id="f1_card" class="shadow">

                        <div class="front face">
                            @(new HtmlString(FlipBoardThumbnailUrls[i]))
                            <h1 style="text-align:center; font-family:Garamond; color:white;">@FlipBoard_Titles[i]</h1>
                        </div>

                        <div class="back face center">
                            <h4 style="text-align:center; font-size:24px; font-style: italic; font-family: 'Century Gothic'; color:#c0bfb9;">@FlipBoard_SubTitles[i]</h4>
                            <p style="text-align:center; padding-top: 30px ; font-size:18px; font-family: 'Century Gothic'; color:#c0bfb9;">@FlipBoard_Descriptions[i]</p>
                        </div>

                    </div>
                </div>
            </div>

            if (User.Identity.IsAuthenticated)
            {
                <div class="row">
                    <input type="button" class="btn btn-success" style="" value="Edit" onclick="location.href='@Url.Action("Edit", "AboutMe", new { id = FlipBoard_ids[i] })'" />
                    <input type="button" class="btn btn-danger" style="" value="Delete" onclick="location.href='@Url.Action("Delete", "AboutMe", new { id = FlipBoard_ids[i] })'" />
                </div>
            }
        }
    </div>


</body>