@model ReedHampton.Models.ProfessionalDocuments

@{
    ViewBag.Title = "Delete";
}

<style>
    body {
        background-color: #c0bfb9;
    }

    hr {
        border-top: 0.5px solid #660000;
    }

    dl dd {
        padding-bottom: 25px;
    }
    dl dt{

    }
</style>

<body>

    <br />

    <h2>Are you sure you want to delete @Html.ValueFor(model => model.Title)?</h2>

    <hr />

    <div>
        <dl class="dl-horizontal" style="padding-top:25px; padding-left:300px;">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

        </dl>

        <hr />

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete @Html.ValueFor(model => model.Title)" class="btn btn-danger" />
                <input type="button" class="btn btn-success" value="Back to Document Portfolio" onclick="window.location = '../DocumentPortfolio';" />
            </div>
        }
    </div>

</body>