@model ReedHampton.Models.DevelopmentProjectViewModel

@{
    ViewBag.Title = "Create";
}

<style>
    body {
        background-color: #f5eee1;
    }

    hr {
        border-top: 0.5px solid #660000;
    }
</style>

<body>

    <br />
    <h2>Add New Project</h2>

    <hr />


    <form action="" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div style="padding-top:50px; padding-left:200px;">
            <div>
                @Html.LabelFor(m => m.ShortName, new { @class = "col-md-6 control-label" })
                @Html.TextBoxFor(m => m.ShortName, new { @class = "form-control" })
            </div>

            <br />
            <br />

            <div class="form-group-lg">
                @Html.LabelFor(m => m.ShortDescription, new { @class = "col-md-6 control-label" })
                @Html.TextAreaFor(m => m.ShortDescription, new { @class = "form-control" })
            </div>

            <br />
            <br />

            <div class="form-group-lg">
                @Html.LabelFor(m => m.LongName, new { @class = "col-md-6 control-label" })
                @Html.TextAreaFor(m => m.LongName, new { @class = "form-control" })
            </div>

            <br />
            <br />

            <div class="form-group-lg">
                @Html.LabelFor(m => m.LongDescription, new { @class = "col-md-6 control-label" })
                @Html.TextAreaFor(m => m.LongDescription, new { @class = "form-control" })
            </div>

            <br />
            <br />

            <div class="form-group-sm">
                @Html.LabelFor(m => m.Category, new { @class = "col-md-6 control-label" })
                @Html.TextBoxFor(m => m.Category, new { @class = "form-control" })
            </div>

            <br />
            <br />

            <div class="form-group-sm">
                @Html.LabelFor(m => m.Date, new { @class = "col-md-6 control-label" })
                @Html.TextBoxFor(m => m.Date, new { @class = "form-control" })
            </div>

            <br />
            <br />

            <div class="form-group-lg">
                @Html.LabelFor(m => m.SkillList, new { @class = "col-md-6 control-label" })
                @Html.EnumDropDownListFor(m => m.SkillList, new { @class = "form-control" })
            </div>

            <br />
            <br />

            <div class="form-group-lg">
                @Html.LabelFor(m => m.GitHubUrl, new { @class = "col-md-6 control-label" })
                @Html.TextAreaFor(m => m.GitHubUrl, new { @class = "form-control" })
            </div>

            <br />
            <br />

            <div class="form-group-lg">
                @Html.LabelFor(m => m.ProjectUrl, new { @class = "col-md-6 control-label" })
                @Html.TextAreaFor(m => m.ProjectUrl, new { @class = "form-control" })
            </div>

            <br />
            <br />

            <div>
                @Html.LabelFor(m => m.ProjectThumbnailUpload, new { @class = "col-md-6 control-label" })
                @Html.TextBoxFor(m => m.ProjectThumbnailUpload, new { type = "file" })
            </div>
        </div>

        <hr />

        <button type="submit" class="btn btn-success">Add Project</button>
        <input type="button" class="btn btn-success" value="Back to Projects" onclick="window.location = '../../DevelopmentProjects/Portfolio';" />
    </form>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

</body>