@model IEnumerable<ReedHampton.Models.Album>

@{
    ViewBag.Title = "Album Gallery";
}
<style>
    body {
        background-color: #f5eee1;
    }

    #darken {
        background-image: linear-gradient( rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35) ), url(../../StaticImages/Gallery.jpg);
    }

    hr {
        border-top: 0.5px solid #660000;
    }

    .grow {
        transition: 1.5s ease;
    }

    .grow:hover {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        transition: 1s ease;
    }

</style>

<script>
    function changeBackground(url)
    {
        document.getElementById('Jumbotron').style.backgroundImage ="url(\"" + url + ")";
    }
</script>

<body>

    <div  class="jumbotron" id="darken" style="background-size:cover; margin-top:60px;">
        <h1 style="text-align:center; font-family:Garamond; font-size:60px; padding-top:25px; padding-bottom:25px; color:white;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">
        Photo Gallery</h1>
    </div>

    <hr />

    @{
        if (User.Identity.IsAuthenticated)
        {
            <input type="button" class="btn btn-success" value="Add Album" onclick="window.location = 'Create';" />
        }
    }

    <br />
    <br />
    @{
        foreach (var album in Model)
        {
            if (album.IsPublic == true || User.Identity.IsAuthenticated)
            {
                string thumbnailPath = album.AlbumThumbnailUrl;
                string finalPath = "";

                string start = "";
                string close = "";

                if (thumbnailPath != null)
                {
                    thumbnailPath = thumbnailPath.Remove(0, 2);
                    finalPath = @Request.ApplicationPath + thumbnailPath;

                    start = "<div class=\"jumbotron grow\" style=\"background-size:cover; background-image:url(../.." + finalPath + ")\">";
                    close = "</div>";
                }

                <a href="@Url.Action("Albums" , "Images" , new{albumId = album.Id , albumName = album.Name})" style="text-decoration:none;">
                    @(new HtmlString(start))
                    <h1 style="color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">@album.Name</h1>
                    <p class="lead" style="color:white; text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;">@album.Description</p>
                    @(new HtmlString(close))
                </a>

                if (User.Identity.IsAuthenticated)
                {
                    <input type="button" class="btn btn-success" value="Edit" onclick="location.href='@Url.Action("Edit", "Albums")?id=' + @album.Id" />
                    <input type="button" class="btn btn-danger" value="Delete" onclick="location.href='@Url.Action("Delete", "Albums")?id=' + @album.Id" />
                }

                <br /><br /><br />
            }
        }
    }

</body>