<!DOCTYPE html>

<style>
    #ContactMe {
        margin-left: 400px;
    }
</style>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Reed Hampton", "Home", "AboutMe", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Development", "Portfolio", "DevelopmentProjects")</li>
                    <li>@Html.ActionLink("Documents", "DocumentPortfolio", "ProfessionalDocuments")</li>
                    <li>@Html.ActionLink("Albums", "AlbumGallery", "Albums")</li>


                                <!--FACEBOOK LINK AND IMAGE---------------------------------------------------------------------------->
                                <li id="ContactMe">
                                    <a href="https://www.facebook.com/reed.hampton.5" target="_blank">
                                        <img src="~/StaticImages/Black_FaceBook_Logo.jpg" alt="Facebook" style="height:16px; width:16px;" />
                                    </a>
                                </li>
                                <!--LINKEDIN LINK AND IMAGE---------------------------------------------------------------------------->

                                <li>
                                    <a href="https://www.linkedin.com/in/reedbhampton/" target="_blank">
                                        <img src="~/StaticImages/In-Black-66px-TM.png" alt="LinkedIn" style="height:16px; width:16px;" />
                                    </a>
                                </li>

                                <!--GITHUB LINK AND IMAGE---------------------------------------------------------------------------->

                                <li>
                                    <a href="https://github.com/reedhampton" target="_blank">
                                        <img src="~/StaticImages/GitHub-Mark-64px.png" alt="GitHub" style="height:16px; width:16px;"/>
                                    </a>
                                </li>

                                <!--EMAIL LINK AND IMAGE---------------------------------------------------------------------------->

                                <li>
                                    <a href="mailto:reed.hampton@gmail.com" target="_blank">
                                        <img src="~/StaticImages/email_64x64.png" alt="Email" style="height:16px; width:16px;"/>
                                    </a>
                                </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Reed Hampton</p>
            @if (!User.Identity.IsAuthenticated)
            {
                <p>@Html.ActionLink("Admin", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" , style = "color:#660000;" })</p>
            }
            @if (User.Identity.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", style = "color:#660000;" }))
                {
                    @Html.AntiForgeryToken()
                    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                }
            }
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
