@model IEnumerable<ReedHampton.Models.Image>

@{
    ViewBag.Title = ViewBag.albumName;
}
<meta name="viewport" content="width=device-width, initial-scale=1">

<html>
<head>
    
    <style>
        body {
            background-color: #f5eee1;
        }

        hr {
            border-top: 0.5px solid #660000;
        }

        * {
            box-sizing: border-box;
        }

        .row > .column {
            padding: 0 8px;
            padding-top: 20px;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .column {
            width: 30%;
        }

        /* The Modal (background) */
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            padding-top: 100px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.8);
        }

        /* Modal Content */
        .modal-content {
            position: relative;
            background-color: black;
            margin: auto;
            padding: 0;
            width: 80%;
            height: 80%;
        }

        /* The Close Button */
        .close {
            color: #660000;
            position: absolute;
            top: 100px;
            right: 100px;
            font-size: 48px;
            font-weight: bold;
            opacity:.9;
        }

            .close:hover,
            .close:focus {
                color: #660000;
                text-decoration: none;
                cursor: pointer;
            }

        .mySlides {
            display: none;
            width: 100%;
            height: 100%;
        }

        .cursor {
            cursor: pointer
        }

        /* Next & previous buttons */
        .prev,
        .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            padding: 16px;
            margin-top: -50px;
            color: white;
            font-weight: bold;
            font-size: 20px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
            -webkit-user-select: none;
        }

        /* Position the "next button" to the right */
        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }

            /* On hover, add a black background color with a little bit see-through */
            .prev:hover,
            .next:hover {
                background-color: rgba(0, 0, 0, 0.7);
            }

        img {
            margin-bottom: -4px;
        }

        .caption-container {
            position: absolute;
            right: 0px;
            bottom: -55px;
            background-color: transparent;
            color: white;
            font-size: 30px;
            font-family: Garamond;
        }

        .demo {
            opacity: 0.6;
        }

            .active,
            .demo:hover {
                opacity: 1;
            }

        .color img{
            filter: grayscale(75%);
            -webkit-filter: grayscale(75%);
            -webkit-transition: all .7s ease;
            }

        .color img:hover{
            filter: grayscale(0%);
            filter: gray;
            -webkit-filter: grayscale(0%);
            filter: none;
            transition: 1s ease;
            }
    </style>
</head>

<!-----------------------------------------------------------------------END OF STYLE------------------------------------------------------------------------>

<body>

    <br /><br />

    <h1 style="display:inline-block">@ViewBag.albumName</h1>
    <input type="button" class="btn" style="float:right; margin-top:35px; background-color:#660000; color:white;" value="View Albums" onclick="window.location = '../Albums/Index';" />

    @{
        if (User.Identity.IsAuthenticated)
        {
            <input type="button" style="float:right; margin-top:35px; margin-right:15px;" class="btn btn-success" value="Add Image" onclick="location.href='@Url.Action("Create", "Images", new{albumId = ViewBag.albumID , albumName = ViewBag.albumName})'" />
        }
    }

    <hr />

<!-------------------------------------------------------C# CREATE NEW HTML STRINGS------------------------------------------------------------------------------------------------->

    @{
        string img_path = "";
        int img_Id;
        int img_number = 1;

        string imagePath = "";
        string thumbnailImage = "";
        string expandedImage = "";
        string imageCaption = "";

        string[] thumbnailHTML = new string[100];
        string[] expandedHTML = new string[100];
        string[] captions = new string[100];
        int[] img_Ids = new int[100];
        int count = 0;

        foreach (var i in Model)
        {
            if (i.AlbumId == ViewBag.albumId)
            {
                img_Id = i.Id;
                img_path = i.ImageUrl;
                imageCaption = i.Caption;

                if (img_path != null)
                {
                    img_path = img_path.Remove(0, 2);

                    imagePath = @Request.ApplicationPath + img_path;
                    thumbnailImage = "<div class=\"column color\" style=\"display:inline-block;\"><img src=\"" + imagePath + "\" style=\"width:300px; height:300px; object-fit:cover; overflow: hidden;\" onclick=\"openModal();currentSlide(" + img_number + ")\" class=\"hover-shadow cursor\")></div>";
                    expandedImage = "<div class=\"mySlides\"><img src=\"" + imagePath + "\" style=\"display:block; margin:auto; max-width:90%; max-height:100%;\"><p class =\"caption-container\">" + imageCaption + "</p></div>";

                    thumbnailHTML[count] = thumbnailImage;
                    expandedHTML[count] = expandedImage;
                    captions[count] = imageCaption;
                    img_Ids[count] = img_Id;
                    count++;
                    img_number++;
                }
            }
        }
    }

<!-------------------------------------------------------THUMBNAILS------------------------------------------------------------------------------------------------->

    <div class="row" style="text-align:center;">
        @for (int i = 0; i < count; ++i)
        {
            if (thumbnailHTML[i] != null)
            {
                    @(new HtmlString(thumbnailHTML[i]))
                
                    if (User.Identity.IsAuthenticated)
                    {
                        <div class="row" style="margin-top:140px;">
                            <input type="button" class="btn" style="background-color:#660000; color:white;" value="Edit" onclick="location.href='@Url.Action("Edit", "Images", new { id = img_Ids[i], albumId = ViewBag.albumID, albumName = ViewBag.albumName })'" />
                            <input type="button" class="btn btn-danger" style="" value="Delete" onclick="location.href='@Url.Action("Delete", "Images", new { id = img_Ids[i], albumId = ViewBag.albumID, albumName = ViewBag.albumName })'" />
                        </div>
                    }
            }
        }
    </div>

<!-------------------------------------------------------ZOOM IN EFFECTS------------------------------------------------------------------------------------------------->

    <div id="myModal" class="modal">
        <span class="close cursor" onclick="closeModal()">&times;</span>
        <div class="modal-content">
            @for (int i = 0; i < count; ++i)
            {
                if(expandedHTML[i] != null)
                {
                    @(new HtmlString(expandedHTML[i]));
                }
            }

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

            
        </div>
    </div>

<!-------------------------------------------------------JAVA SCRIPT------------------------------------------------------------------------------------------------->

    <script>
        function openModal() {
            document.getElementById('myModal').style.display = "block";
        }

        function closeModal() {
            document.getElementById('myModal').style.display = "none";
        }

        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            var captionText = document.getElementById("caption");

            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++)
            {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++)
            {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            captionText.innerHTML = this.alt;
        }
    </script>

<!-------------------------------------------------------END JAVA SCRIPT------------------------------------------------------------------------------------------------->

</body>

</html>
