@using ReedHampton.Models;
@{
    ViewBag.Title = "Create";
}

@model ImageViewModel

<h2>Add a Photo</h2>

<input type="button" class="btn btn-success" value="Add Album" onclick="window.location = '../../Albums/Create';" />

<hr />

<form action="" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


    <div style="padding-top:50px; padding-left:300px;">
        <div>
            @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        </div>

        <br />

        <div class="form-group">
            @Html.LabelFor(m => m.AltText, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(m => m.AltText, new { @class = "form-control" })
        </div>

        <br />

        <div class="form-group-lg">
            @Html.LabelFor(m => m.Caption, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(m => m.Caption, new { @class = "form-control" })
        </div>

        <br />

        <div class="form-group">
            @Html.LabelFor(m => m.AlbumName,new { @class = "col-md-2 control-label" })
            @Html.DropDownListFor(m => m.AlbumName, Model.Albums, "- Please select an Album -", new { @class = "form-control"})
        </div>

        <br />

        <div>
            @Html.LabelFor(m => m.ImageUpload, new { @class = "col-md-2 control-label" })
            @Html.TextBoxFor(m => m.ImageUpload, new { type = "file" })
        </div>
    </div>
    <hr />
    <button type="submit" class="btn btn-success">Create</button>
    <input type="button" class="btn btn-success" value="Back to List" onclick="window.location = '../../Images/Albums';" />
</form>

