@model ReedHampton.Models.Image

@{
    ViewBag.Title = "Delete";
}
<head>
    <style>
        img {
            display: inline;
            max-width: 1035px;
            max-height: 428px;
            width: auto;
            height: auto;
        }
    </style>
</head>

<br />

<h2>Are you sure you want to delete @Html.ValueFor(model => model.Title)?"</h2>
<div>

    <hr />

    @{
        string img_path = Model.ImageUrl;
        string urlq = "";
        string q = "";

            if (img_path != null)
            {
                img_path = img_path.Remove(0, 2);

                urlq = @Request.ApplicationPath + img_path;
                q = "<img src=\"" + urlq + "\" alt=\"TEST\"/>";
            }
        }

    @( new HtmlString(q))

    <dl class="dl-horizontal" style="float:right; padding-top:150px; padding-right:0px;">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AltText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AltText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Caption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Caption)
        </dd>

    </dl>
    <hr />

    <form action="" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="form-actions no-color">
            <input type="submit" class="btn btn-danger" value="Delete" data-form-method="post" formaction="@Url.Action("Delete" , "Images" , new{albumId = ViewBag.albumId , albumName = ViewBag.albumName})" />
            <input type="button" class="btn btn-success" value="Back to @ViewBag.albumName" onclick="location.href='@Url.Action("Albums" , "Images" , new{albumId = ViewBag.albumId , albumName = ViewBag.albumName})'" />
        </div>
    </form>
</div>
